body{
    background-color: rgb(255, 250, 187);
    margin: 0px; /*Coloca a margem em zero pixels */
}
h1{
    background-color: rgb(222, 241, 154);
}



#title{

    background-color: rgb(237, 248, 185);  
    margin: 0px;
    font-size: 30px;

    }
    
form{
      padding-top: 200px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    
    button{
    
      background-color: rgb(98, 82, 136);
    
    }
    
    html{
    
      background-color:rgb(192, 112, 47);
    
    }
    
    p{
    
      background-color: rgb(255, 214, 102);
    
      margin: 1px;
    
    }